*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body{
  min-height: 100vh;
  overflow: hidden;

  
  background-image: url("../images/purpleimg.jpg"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.card{
  width: 420px;
  padding: 35px 30px;
  border-radius: 16px;

  /* Glass effect */
  background: rgba(0,0,0,0.55);
  border: 1px solid rgba(255,255,255,0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(0,0,0,0.4);

 
  position: absolute;
  top: 50%;
  left: 450px;
  transform: translateY(-50%);
  color: white;
}


.card h1{
  font-size: 34px;
  margin-bottom: 10px;
}


.card p{
  font-size: 14px;
  color: rgba(255,255,255,0.8);
  margin-bottom: 25px;
}


.btn-group{
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.topic-btn{
  text-decoration: none;
  padding: 12px 15px;
  border-radius: 25px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;

  background: rgba(255,255,255,0.12);
  border: 1px solid rgba(255,255,255,0.25);
  color: white;
  transition: 0.2s;
}

.topic-btn:hover{
  background: rgba(255,255,255,0.9);
  color: black;
}

/* Back link */
.back{
  margin-top: 22px;
  text-align: center;
}

.back a{
  text-decoration: none;
  color: rgba(255,255,255,0.8);
  font-size: 13px;
}

.back a:hover{
  text-decoration: underline;
}
